.dl-index-grid {
  @include govuk-clearfix;

  .dl-index-item__head {
    margin-bottom: 0;
    padding-top: 0;
  }

  .dl-index-item__body {
    margin-top: 0;
    @include govuk-responsive-margin(1, "bottom");
  }

  @include govuk-media-query($from: tablet) {
    display: grid;
    grid-template-columns: max-content minmax(auto, 30em);

    & * {
      float: left; // fallback for browsers that dont support grid

      &:nth-child(2n) {
        padding-left: 10px;
      }
    }

    .dl-index-item__head {
      clear: both;
    }
  }
}


.dl-index-list {
  tr > td:not(:first-of-type) {
    @include govuk-media-query($from: tablet) {
      padding-left: 10px;
    }
  }

  td {
    display: block;

    @include govuk-media-query($from: tablet) {
      display: table-cell;
      @include govuk-responsive-margin(1, "bottom");
      vertical-align: top;
    }

  }

  tr > td:last-of-type {
    @include govuk-responsive-margin(1, "bottom")
  }
}
