.govuk-body-l {
  max-width: 30em !important;
}

// limit text line length
.govuk-body,
.govuk-main-wrapper p,
.govuk-inset-text,
.text-max-width {
  max-width: 38em;
}

.govuk-caption-s {
  @include govuk-font($size: 16);
  display: block;
  color: $govuk-secondary-text-colour;
}

// ===========================
// Links
// ===========================
// govuk link style as default
a {
  @extend %govuk-link;
}

.govuk-link--no-underline {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.dl-heading-section-break {
  padding-bottom: 1px;
  border-bottom: 3px solid $govuk-text-colour;
}

.dl-small-text {
  @include govuk-font($size: 16);
}

// helper class to dim text colour
.secondary-text {
  color: $govuk-secondary-text-colour;
}

// don't break content on to new lines
.no-wrap {
  white-space: nowrap;
}

// attempt to break long long URLS
.long-link {
  word-break: break-all;
}

.highlight-text {
  color: govuk-colour("blue");
}

.hidden-text {
  color: transparent;
}

.dl-code {
  padding: 2px 5px;
  color: darken(govuk-colour("blue"), 25);
  background-color: govuk-colour("light-grey");
  line-height: govuk-em(25, 19);
}
