{% from "digital-land-frontend/components/dl-header-bar/macro.html" import dlHeaderBar %}
{{ dlHeaderBar({
    "fullWidth": true,
    "items": [
        {
            "href": "/about",
            "text": "About"
        },
        {
            "href": "/projects/",
            "text": "Projects"
        },
        {
            "href": "/weeknote/",
            "text": "Weeknotes"
        },
        {
            "href": "/blog-post/",
            "text": "Blog"
        },
        {
            "href": "/guidance/",
            "text": "Guidance"
        },
        {
            "href": "https://www.planning.data.gov.uk/",
            "text": "Data"
        }
    ]
}) }}