appdirs
attrs
black
click
curlylint
dataclasses
decorator
-e git+https://github.com/digital-land/digital-land-python.git#egg=digital-land
flake8
frontmatter
MarkupSafe==2.0.1
Jinja2
mypy-extensions
parsy
pathspec
pytest
regex
six
toml
typed-ast
typing-extensions
sqlalchemy
