{% extends "digital-land-frontend/dlf-base.html" %}
{% from "digital-land-frontend/components/index-list/macro.html" import dlIndexList %}

{% block pageTitle %}{{ data_type|capitalize }} | Digital Land{% endblock -%}

{% block head %}
    {{ super() }}
    {% block dlMapJS -%}
        <script src="{{ staticPath|default('/static') }}/javascripts/dl-maps.js"></script>
    {% endblock dlMapJS -%}
{% endblock  %}

{% block beforeContent -%}
    {{ super() }}

    {{- govukBreadcrumbs({
    "items": [
    {
    "text": "Digital Land",
    "href": "/"
    } ] + breadcrumb
    }) -}}
{% endblock -%}

{% block content %}

    {% block indexTitle -%}
        <h1 class="govuk-heading-xl">{{ data_type|capitalize|replace("-", " ") }}</h1>
        {% if download_url %}
            <div class="govuk-!-margin-bottom-9" style="margin-top: -15px;">
                <a class="dl-page-action-button" href="{{download_url}}">Download dataset</a>
            </div>
        {% endif %}
    {% endblock %}

    {% if items and items|length > 20 %}
    <form class="filter-organisations-list__form filter-organisations-list__form--active govuk-!-margin-bottom-9" data-filter="form">
        <label class="filter-list__label govuk-label govuk-!-font-weight-bold" for="filter-organisations-list">I'm looking for</label>
        <input class="filter-list__input govuk-input" type="text" id="filter-organisations-list" placeholder="{{ filterInputPlaceholder|default('For example, Harrogate Borough Council') }}">
    </form>
    {% endif %}

    <div class="js-no-filter-list-matches"><p class="govuk-body">No matches.</p></div> <!-- needs to go outside of index-list-wrapper -->
    <div class="index-list-wrapper">
    {% block indexDescription -%}
        {% if group_field and group_field == "organisation" %}
            <p class="govuk-body">Showing {{ count }} records from {{ groups|length }} organisation{{ "" if groups|length == 1 else "s" }}.</p>
        {% else %}
            <div class="count-wrapper">
                <p class="govuk-body" aria-hidden="true">Showing <span class="js-list-count">{{ count }}</span> records.</p>
                <p class="govuk-visually-hidden">There are
                    <span class="js-accessible-list-count">{{ count }}</span>
                    records listed.
                </p>
            </div>
        {% endif -%}
    {% endblock %}

    {% block indexList -%}
        {% if items %}
            {{ dlIndexList({
            "items": items,
            "filterable": True
            }) }}
        {% endif %}

        {% if group_field %}
            <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
                {% for group in groups  %}
                    <div class="govuk-accordion__section ">
                        <div class="govuk-accordion__section-header" id="{{ group }}">
                            <h2 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading-{{loop.index}}">
                                    {{ group|group_id_to_name(group_field) }}
                                </span>
                            </h2>
                        </div>
                        <div id="accordion-default-content-{{loop.index}}" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-{{loop.index}}">
                            {{ dlIndexList({

                            "items": groups[group]['items'],
                            "data_type": data_type
                            }) }}
                        </div>
                    </div> 
                {% endfor %}
            </div>  
        {% endif -%}
    {% endblock %}
    </div>

{% endblock content %}

{% block bodyEnd %}
    {{ super() }}

    {% block initMapBlock %}
        {% if geographies is defined %}
            <script>
                const $mapElement = document.querySelector('[data-module="boundary-map"]')
                const mapComponent = new DLMaps.Map($mapElement).init({})
            </script>
        {% endif %}
    {% endblock initMapBlock %}

    {% block initFilteringBlock %}
        {% if items and items|length > 20 %}
        <script>
        // initialise list filter
        const $form = document.querySelector('[data-filter="form"]');
        new window.DLFrontend.FilterList($form).init({
            list_section_selector: '.index-list-wrapper',
            count_wrapper_selector: '.count-wrapper'
        })
        </script>
        {% endif %}
    {% endblock initFilteringBlock %}

{% endblock %}
