{%- extends "digital-land-frontend/dlf-base.html" %}
{% set templateName = "page-per-thing/record.html" %}

{%- from "govuk-jinja-components/components/details/macro.jinja" import govukDetails %}
{%- from "digital-land-frontend/components/map/macro.html" import dlMap %}
{%- from "digital-land-frontend/components/data-record/macro.html" import dlDataRecordPanel %}
{%- from "digital-land-frontend/components/data-reference-cell/macro.html" import dlDataReferenceCell %}

{%- set row_name = row['name'] if row['name'] else row['slug'] %}
{% set geometry_url = row|get_geometry_url %}
{% if geometry_url %}
    {% set includesMap = true %}
{% endif %}

{%- block pageTitle %}{{ row_name }} | {{ pipeline_name|capitalize }} | Digital Land{% endblock -%}

{%- block beforeContent -%}
    {{ super() }}

    {{- govukBreadcrumbs({
    "items": [
        {
        "text": "Digital Land",
        "href": "/"
        } ] + breadcrumb
    }) -}}
{%- endblock -%}
{%- block content %}

{% block recordHead %}
    {% block recordTitle -%}
    <span class="govuk-caption-xl">{{ pipeline_name }}</span>
    <h1 class="govuk-heading-xl">{{ row_name }}</h1>
    {%- endblock recordTitle %}
{% endblock recordHead %}

{% block recordTableContainer %}
<div class="govuk-grid-row">

    {%- block recordTable %}
    <div class="{{ recordPanelContainerClass|default('govuk-grid-column-two-thirds') }}">
        {%- set areaproperties %}
        {%- for field in row.keys() %}
        {%- if field not in ["id", "resource", "geometry", "point", "geometry_url", "slug", "href"] %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            {{- field }}
            </dt>
            <dd class="govuk-summary-list__value">
            {%- if field == pipeline_name %}
                {# never translate the reference field #}
                <span class="dl-select-all">{{ row[field] }}</span>
            {%- elif field == "organisation" %}
                {{- dlDataReferenceCell({
                    "identifier": row[field],
                    "type": "Organisation",
                    "display_name": row[field]|organisation_id_to_name or org, 
                    "url": row[field]|organisation_id_to_url or None,
                }) -}}
            {%- elif field == "organisations" %}
                <ul class="govuk-list">
                {% for org in row[field].split(';')  %}
                    <li>{{- dlDataReferenceCell({
                        "identifier": org,
                        "type": "Organisation",
                        "display_name": org|organisation_id_to_name or org, 
                        "url": row[field]|organisation_id_to_url or None,
                    }) -}}</li>
                {% endfor %}
                </ul>
            {%- elif field in ["geographies", "statistical-geography"] %}
                {%- set geography_url = row[field]|geography_to_url -%}
                {%- set geography_name = row[field]|geography_to_name or row[field] -%}
                {{- dlDataReferenceCell({
                    "identifier": row[field],
                    "type": "Geography",
                    "display_name": geography_name, 
                    "url": geography_url
                }) -}}
            {%- elif field == "development-policies" %}
                {%- if row[field] -%}
                {%- set policyHTML -%}
                <ul class="govuk-list">
                    {%- for policy in row[field].split(';')  %}
                    <li>
                    {% if policy|policy_mapper %}
                        {{- dlDataReferenceCell({
                            "identifier": policy,
                            "type": "Policy",
                            "display_name": policy|policy_mapper, 
                            "url": policy|policy_mapper("url")
                        }) -}}
                    {% else %}
                    {{ policy }}
                    {% endif %}
                    </li>
                    {% endfor -%}
                </ul>
                {%- endset -%}
                {% set policycount = row[field].split(';')|length %}
                {{ govukDetails({
                    "summaryText": policycount|string + " polic" + "ies" if policycount != 1 else "y",
                    "html": policyHTML
                }) }}
                {%- endif -%}
            {%- elif field in ["development-policy-categories", "developer-agreement-type", "development-plan-types", "contribution-purpose", "contribution-funding-status"] %}
                {%- for category in row[field].split(';')  %}
                    {%- set category_url = category|dl_category_mapper(field, "url") -%}
                    {%- set category_name = category|dl_category_mapper(field) -%}
                    <div>
                    {{- dlDataReferenceCell({
                        "identifier": category,
                        "type": field,
                        "display_name": category_name, 
                        "url": category_url
                    }) -}}
                    </div>
                {% endfor %}
            {%- elif field == "developer-agreement" %}
                {%- set mapped_url = row[field]|developer_agreement_mapper("url") -%}
                {{- dlDataReferenceCell({
                    "identifier": row[field],
                    "type": "Agreement type",
                    "display_name": row[field],
                    "url": mapped_url
                }) -}}
            {%- elif field == "developer-agreement-contribution" %}
                {%- set mapped_url = row[field]|developer_agreement_contribution_mapper("url") -%}
                {{- dlDataReferenceCell({
                    "identifier": row[field],
                    "type": "Agreement type",
                    "display_name": row[field],
                    "url": mapped_url
                }) -}}
            {%- else %}
                {{ row[field]|make_link }}
            {%- endif %}
            </dd>
        </div>
        {%- endif %}
        {%- endfor %}
        {%- endset %}

        {%- if row['resource'] -%}
        {{ dlDataRecordPanel({
            "classes": "govuk-!-margin-bottom-6",
            "identifier": row['site'] if row['site'] else row['slug'],
            "resource": {
                "identifier": row['resource'],
                "url": "https://github.com/digital-land/" + pipeline_name + "-collection/tree/main/transformed/" + pipeline_name + "/" + row['resource'] + ".csv"
            },
            "html": areaproperties
        }) }}
        {%- else -%}
        {{ dlDataRecordPanel({
            "classes": "govuk-!-margin-bottom-6",
            "identifier": row['site'] if row['site'] else row['slug'],
            "html": areaproperties
        }) }}
        {%- endif -%}
    </div>
            
    {% endblock recordTable -%}
</div>
{% endblock recordTableContainer %}

{% block recordGeometry -%}
    {%- if geometry_url %}

    <h2 class="govuk-heading-m">Geographical area</h2>

    {{ dlMap({
        "id": "dlMap",
        "classes": "govuk-!-margin-top-4 govuk-!-margin-bottom-2",
        "attributes": {
        "data-geojson-urls": geometry_url
        },
        "height": "460"
    }) }}

    <div class="govuk-!-margin-top-2">
        <a class="dl-page-action-button" href="{{geometry_url}}">Download geojson</a>
    </div>
    
    {%- endif %}
{%- endblock recordGeometry %}

{%- endblock %}

{% block recordEnd %}{% endblock recordEnd %}

{% block feedbackPrompt %}
    {%- from "digital-land-frontend/components/feedback/macro.html" import dlFeedback %}
    {% set key_field = row|key_field(pipeline_name) %}
    {% set subject = "Feedback on (" + key_field + ") " + row_name + " -- " + pipeline_name  %}
    {{ dlFeedback({
        "text": "Spotted an issue? Let us know so we can improve the data.",
        "action": {
            "text": "There is something wrong with the data",
            "href": "mailto:digitalLand@communities.gov.uk?subject=" + subject
        },
        "container": true
        })
    }}
{% endblock %}

{%- block bodyEnd %}
{{ super() }}

{%- block initMapBlock %}
<script>
    const $mapElement = document.querySelector('[data-module="boundary-map"]')
    const mapComponent = new DLMaps.Map($mapElement).init({})
</script>
{% endblock -%}

{%- endblock %}
