{% extends "govuk-jinja-components/template.html" %}
{% from "govuk-jinja-components/components/phase-banner/macro.jinja" import govukPhaseBanner %}
{% from "govuk-jinja-components/components/breadcrumbs/macro.jinja" import govukBreadcrumbs %}

{% from "digital-land-frontend/components/page-feedback/macro.html" import dlfPageFeedback %}

{%- block pageTitle %}Digital Land - Planning data you can find, use and trust{% endblock -%}

{% block head %}
	<meta name="digital-land:template" content="{{ templateName|default('dlf-base.html') }}">

	{% block dlMapAssets %}
		{%- if includesMap -%}
			{% include 'digital-land-frontend/partials/dl-map-assets.html' %}
		{%- endif %}
	{% endblock %}

	{%- block dlCss %}
	<link href="{{ staticPath | default('/static') }}/stylesheets/dl-frontend.css" rel="stylesheet" />

	{%- if includeAutocomplete %}
	<link href="{{ staticPath|default('/static') }}/stylesheets/vendor/govuk-accessible-autocomplete.min.css" rel="stylesheet" media="all" />
	{%- endif %}
	{% endblock dlCss -%}

{%- block dlHead %}{% endblock -%}

{% endblock %}

{% block header %}
{% include 'digital-land-frontend/partials/dl-cookie-banner.html' %}
{% include 'digital-land-frontend/partials/dl-header.html' %}
{% endblock%}

{% block beforeContent %}
  {% include 'digital-land-frontend/partials/dl-prototype-banner.html' %}
  {% block dl_breadcrumbs %}{% endblock %}
{% endblock %}

{% block footer %}
	{% block feedbackPrompt %}{% endblock feedbackPrompt %}
  {% include 'digital-land-frontend/partials/dl-footer-code.html' %}
{% endblock %}

{% block bodyEnd %}
	{%- block googleAnalytics -%}
	<script src="{{ staticPath | default('/static') }}/javascripts/dl-cookies.js"></script>
	<script async src='https://www.google-analytics.com/analytics.js'></script>
	<!-- end google analytics -->
	{% endblock googleAnalytics %}

	{#- optional jQuery include -#}
	{%- if includeJQuery == "true" -%}
	<script src="{{ staticPath | default('/static') }}/javascripts/vendor/jquery-3.4.1.min.js"></script>
	{% endif %}

	<script src="{{ staticPath | default('/static') }}/javascripts/govuk/govuk-frontend.min.js"></script>
	<script>
		// initiate all GOVUK components
		window.GOVUKFrontend.initAll();
	</script>

	{% block bodyEndScripts %}
	{# needs to come after govuk frontend #}
	<script src="{{ staticPath | default('/static') }}/javascripts/dl-frontend.js"></script>
	<script>
		// adds any necessary polyfills
		window.DLFrontend.polyfill();
	</script>
	{% endblock %}

{% endblock %}
