{% extends "govuk-jinja-components/template.html" %}
{% from "govuk-jinja-components/components/phase-banner/macro.jinja" import govukPhaseBanner %}
{% from "govuk-jinja-components/components/breadcrumbs/macro.jinja" import govukBreadcrumbs %}

{% from "digital-land-frontend/components/page-feedback/macro.html" import dlfPageFeedback %}

{% block head %}
	{%- block dlCss %}
	<link href="{{ staticPath | default('/static') }}/stylesheets/dl-frontend.css" rel="stylesheet" />

	{%- if includeAutocomplete %}
	<link href="{{ staticPath|default('/static') }}/stylesheets/vendor/govuk-accessible-autocomplete.min.css" rel="stylesheet" media="all" />
	{%- endif %}
	{% endblock dlCss -%}

{%- if includesMap -%}
<!-- should make this optional, no need to load if not showing a map -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
crossorigin="" />

<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
	integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
	crossorigin=""></script>

<script src="{{ staticPath|default('/static') }}/javascripts/dl-maps.js"></script>
{%- endif %}

{% endblock %}

{% block header %}
{% include 'digital-land-frontend/partials/dl-cookie-banner.html' %}
{% include 'digital-land-frontend/partials/dl-header.html' %}
{% endblock%}

{% block beforeContent %}
  {% include 'digital-land-frontend/partials/dl-prototype-banner.html' %}
  {% block dl_breadcrumbs %}{% endblock %}
{% endblock %}

{% block footer %}
  {% include 'digital-land-frontend/partials/dl-footer-code.html' %}
{% endblock %}

{% block bodyEnd %}
	{%- block googleAnalytics -%}
	<script src="{{ staticPath | default('/static') }}/javascripts/dl-cookies.js"></script>
	<script async src='https://www.google-analytics.com/analytics.js'></script>
	<!-- end google analytics -->
	{% endblock googleAnalytics %}

	{#- optional jQuery include -#}
	{%- if includeJQuery == "true" -%}
	<script src="{{ staticPath | default('/static') }}/javascripts/vendor/jquery-3.4.1.min.js"></script>
	{% endif %}

	<script src="{{ staticPath | default('/static') }}/javascripts/govuk/govuk-frontend.min.js"></script>
	<script>
		// initiate all GOVUK components
		window.GOVUKFrontend.initAll();
	</script>

	{% block bodyEndScripts %}
	{# needs to come after govuk frontend #}
	<script src="{{ staticPath | default('/static') }}/javascripts/dl-frontend.js"></script>
	<script>
		// adds any necessary polyfills
		window.DLFrontend.polyfill();
	</script>
	{% endblock %}

{% endblock %}
