{% macro dlSubNavTabs(params) %}
<div class="govuk-tabs" data-module="dlf-subnav">
    <h2 class="govuk-tabs__title">
      Contents
    </h2>
    <nav class="dlf-subnav" aria-label="Sub navigation">
        <ul class="dlf-subnav__list">
            {% for tab in params['tabs'] %}
            <li class="dlf-subnav__list-item dlf-subnav__list-item--selected">
                <a class="dlf-subnav__list-item__link" href="#{{ tab.id }}" data-module-sub-nav="tab">
                {{ tab.label }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </nav>

    {% for tab in params['tabs'] %}
    <div id="{{ tab.id }}">
        {{ tab.html }}
    </div>
    {% endfor %}
</div>
{% endmacro %}